# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
bin/
obj/
out/
build/
dist/

# IDE
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# .NET
*.dll
*.exe
*.pdb
*.cache

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.lock
**/ios/Flutter/.last_build_id
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/

# Secrets
*.env
appsettings.Development.json
